html {
    box-sizing: border-box;
    font-family: "Comic Neue", cursive;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
    width: 100%;
    height: 100%;
    background: url('https://static.darflen.com/img/background2.svg') no-repeat center center fixed;
    background-size: cover;
    color: #E8DFCA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

a {
    color: #F5EFE6;
    text-decoration: none;
}

a:hover {
    color: #E8DFCA;
}

h1 {
    margin: 0 0 10px 0;
    font-size: 2.5rem;
}

p {
    margin: 0 0 20px 0;
}

textarea {
    font-family: "Comic Neue", cursive;
    background-color: rgba(26, 77, 46, 0.8);
    color: #E8DFCA;
    resize: none;
    width: 45%;
    max-width: 100%;
    height: 10rem;
    outline: none;
    border-radius: 5px;
    border: 2px solid #E8DFCA;
    padding: 10px;
    margin: 10px;
    transition: background-color 0.3s ease;
}

textarea:focus {
    background-color: rgba(42, 93, 62, 0.8);
}

#inputcontainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

select {
    width: 10rem;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #E8DFCA;
    background-color: rgba(26, 77, 46, 0.8);
    color: #E8DFCA;
    margin-bottom: 10px;
}

#translate {
    width: 7.5rem;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #E8DFCA;
    background-color: rgba(26, 77, 46, 0.8);
    color: #E8DFCA;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#translate:hover {
    background-color: rgba(42, 93, 62, 0.8);
}

#outputcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#outputdiv {
    width: 30rem;
    max-width: 100%;
    height: 10rem;
    background-color: rgba(26, 77, 46, 0.8);
    border-radius: 5px;
    border: 2px solid #E8DFCA;
    padding: 10px;
    overflow-y: auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#outputdiv:hover {
    background-color: rgba(42, 93, 62, 0.8);
}
